body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	overflow: hidden;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
	text-align: center;
	z-index: 100;
	display: block;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
